.tweetComponentDiv {
  background: white;
  border-radius: 4px;
}

.firstDiv{
  margin-top: 41px;
  padding-top: 17px;
  padding-left: 90px;
  font-weight: bold;
}

.lastDiv{
  margin-bottom: 40px;
}


.secondDiv{

  padding-top: 14px;
  padding-left: 90px;
  padding-bottom: 22px;

}
